
body{
    background-color:whitesmoke;
}
h1{
    font-size: 60px;
   margin: 0%; 
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
    color:rgb(rgb(3, 15, 68), green, blue);
}

p{
    font-size: 25px;
}
img{
    width: auto;
    height: auto;
}
